
 <!--====== Search Form ======-->
                        <form asp-action="Search" asp-controller="home" class="main-form" dir="rtl">

                            <label for="main-search" ></label>

                            <input class="input-text input-text--border-radius input-text--style-1" name="q" type="text" id="main-search" placeholder="جستوجو">

                            <button class="btn btn--icon fas fa-search main-search-button" type="submit" style="margin-right: 85%;"></button></form>
                        <!--====== End - Search Form ======-->