
@{
    ViewData["Title"] = "Wishlist";
}
<div class="u-s-p-b-60">
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <!--====== Wishlist Product ======-->
                                <div class="w-r u-s-m-b-30">
                                    <div class="w-r__container">
                                        <div class="w-r__wrap-1">
                                            <div class="w-r__img-wrap">

                                                <img class="u-img-fluid" src="images/product/electronic/product3.jpg" alt=""></div>
                                            <div class="w-r__info">

                                                <span class="w-r__name">

                                                    <a href="product-detail.html">Yellow Wireless Headphone</a></span>

                                                <span class="w-r__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="w-r__price">$125.00

                                                    <span class="w-r__discount">$160.00</span></span></div>
                                        </div>
                                        <div class="w-r__wrap-2">

                                            <a class="w-r__link btn--e-brand-b-2" data-modal="modal" data-modal-id="#add-to-cart">افزودن به سبد خرید</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" href="product-detail.html">دیدن</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" href="#">حذف</a></div>
                                    </div>
                                </div>
                                <!--====== End - Wishlist Product ======-->
                            </div>

                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g">

                                        <a class="route-box__link" href="shop-side-version-2.html"><i class="fas fa-long-arrow-alt-left"></i>

                                            <span>ادامه خرید</span></a></div>
                                    <div class="route-box__g">

                                        <a class="route-box__link" href="wishlist.html"><i class="fas fa-trash"></i>

                                            <span>پاکسازی علاقه مندی ها</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
                </div>