@{
    Layout = "_AdminLayout";
  
}

 <div class="u-s-p-b-60">   
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                  
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30" style="text-align:end;">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">سلام ادمین</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a  href="~/admin/ShowProduct" >دیدن محصولات</a></li>
                                                <li>

                                                    <a  href="~/admin/AddProduct">افزودن محصول جدید</a></li>
                                                <li>

                                                    <a  href="~/admin/ShowOrder"> دیدن سفارشات </a></li>
                                                <li>

                                                    <a class="dash-active" href="~/admin/medias"> تصاویر </a></li>
                                                <li>

                                                    <a href="~/admin/categorys">دسته بندی ها </a></li>
                                                <li>

                                                    <a  href="~/admin/ShowUsers"> مشاهده مشتریان </a></li>
                                             
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                                           <div class="col-lg-9 col-md-12" dir="rtl" style="text-align:right;">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash__address-header">
                                                <h1 class="dash__h1">لیست تصاویر </h1>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30" dir="rtl" >
                                        <div class="dash__table-2-wrap gl-scroll">
                                            <table class="dash__table-2">
                                                <thead>
                                                    <tr>
                                                       
                                                        <th> کد تصویر </th>
                                                        <th>مسیر</th>
                                                        <th> کد محصول </th>
                     
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                       
                                                        <td>1</td>
                                                        <td>https://dkstatics-public.digikala.com/digikala-products/1893d6c639c6a928ba2bfefc5859e57f3c97bce1_1658289466.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90</td>
                                                        <td>2</td>
                    
                                                               <td>

                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="dash-address-edit.html">ویرایش</a></td>
                                                    </tr>
                                                    <tr>
                                                       
                                                       <td>2</td>
                                                        <td> https://dkstatics-public.digikala.com/digikala-products/5fa3885fa0e1d1c8aeb067e4c253bab25c778b32_1681828779.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90 </td>
                                                        <td>3</td>
 
                                                               <td>

                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="dash-address-edit.html">ویرایش</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div>

                                        <a class="dash__custom-link btn--e-brand-b-2" href="dash-address-add.html"><i class="fas fa-plus u-s-m-r-8"></i>

                                            <span> افزودن تصویر جدید  </span></a></div>
                                </div>

                                           </div>
              

                                 </div>

                    </div>
                </div>
               
            </div>
