@{
    Layout = "_AdminLayout";
  
}

 <div class="u-s-p-b-60">   
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                  
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30" style="text-align:end;">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">سلام ادمین</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a  href="~/admin/ShowProduct" >دیدن محصولات</a></li>
                                                <li>

                                                    <a  href="~/admin/AddProduct">افزودن محصول جدید</a></li>
                                                <li>

                                                    <a class="dash-active" href="~/admin/ShowOrder"> دیدن سفارشات </a></li>
                                                <li>

                                                    <a href="~/admin/medias"> تصاویر </a></li>
                                                <li>

                                                    <a href="~/admin/categorys">دسته بندی ها </a></li>
                                                <li>

                                                    <a  href="~/admin/ShowUsers" > مشاهده مشتریان </a></li>
                                             
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                                  <div class="col-lg-9 col-md-12" dir="rtl" style="text-align:right;">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash__address-header">
                                                <h1 class="dash__h1">لیست سفارشات </h1>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                        <div class="dash__table-2-wrap gl-scroll">
                                            <table class="dash__table-2">
                                                <thead>
                                                    <tr>
                                                       
                                                        <th> کد سفارش </th>
                                                        <th>سفارشات</th>
                                                        <th>کد کاربر</th>
                                                        <th> نام </th>
                                                        <th>نام خانوادگی</th>
                                                        <th> آدرس </th>
                                                        <th> تلفن </th>
                                                        <th> یادداشت پرداخت </th>
                                                        <th> کدپستی </th>
                                                        <th> توکن پرداخت </th>
                                                        <th> شناسه پرداخت </th>
                                                        <th> تاریخ پرداخت </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                       
                                                        <td>123467</td>
                                                        <td>کیف مجلسی دخترانه-پیراهن زنانه</td>
                                                        <td>78899</td>
                                                        <td> فاطمه </td>
                                                       @* <td>
                                                            <div class="gl-text">Default Shipping Address</div>
                                                            <div class="gl-text">Default Billing Address</div>
                                                        </td>*@
                                                         <td> رحیمی </td>
                                                         <td> یوسف آباد خیابان هفتم پلاک 6 </td>
                                                         <td> 09124096789  </td>
                                                         <td>  </td>
                                                         <td> 1324565768 </td>
                                                              <td> 2345 </td>
                                                              <td> 234365 </td>
                                                              <td> 2023/03/06 </td>
                                                               <td>

                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="dash-address-edit.html">ویرایش</a></td>
                                                    </tr>
                                                    <tr>
                                                       
                                                       <td>44444</td>
                                                        <td>  کانسیلر میبلین</td>
                                                        <td>43235</td>
                                                        <td> نگین </td>
                                                       @* <td>
                                                            <div class="gl-text">Default Shipping Address</div>
                                                            <div class="gl-text">Default Billing Address</div>
                                                        </td>*@
                                                         <td> پناهی </td>
                                                         <td>  چهارراه ولیعصر خیابان دوم پلاک 96 </td>
                                                         <td> 09129085687  </td>
                                                         <td>  </td>
                                                         <td> 3285347867 </td>
                                                              <td> 2212 </td>
                                                              <td> 14325 </td>
                                                              <td> 2023/09/19</td>
                                                               <td>

                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="dash-address-edit.html">ویرایش</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   @* <div>

                                        <a class="dash__custom-link btn--e-brand-b-2" href="dash-address-add.html"><i class="fas fa-plus u-s-m-r-8"></i>

                                            <span>Add New Address</span></a></div>*@
                                </div>
                            </div>
              

                                 </div>

                    </div>
                </div>
               
            </div>

